.dart_tool/
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

*.class
*.log
*.swp
.DS_Store
.atom/

*.iml
*.ipr
*.iws
.idea/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
bin/
build/
coverage/
tmp/

lib/generated_plugin_registrant.dart

# keep ludwig secret
key.properties
